.header{
    display: flex;
    justify-content: center;
    background: var(--color-grey-800);
    padding: 1rem;
    color: var(--color-white);
    h3{
        margin-left: 2.3rem;
    }
}
.header_menu{
    margin-left: 2.5rem;
}

.menu{
    li {
        padding-top: 0.3rem;
        color: var(--color-white);
    }
}

.center {
	justify-content: center;
	display: grid;
	align-items: center;
}
