.container {
	margin-right: auto;
	margin-left: auto;
	background-color: var(--color-white);
	padding: 1rem 2rem;
	display: flex;
	margin-top: 1rem;
	justify-content: space-between;

	@media (min-width: 768px) {
		flex-direction: column;

		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.pageHeader {
	display: flex;
	align-items: baseline;
	margin-bottom: 2rem;
}

.flex {
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}
.btn-group {
	display: flex;
    border: 0.3px solid var(--color-grey-100);
    padding: 0.2rem;
    align-items: center;
    justify-content: left;
    border-radius: 8px;
    width: fit-content;
}
